<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="_web.html">
<th:block layout:fragment="_content">
    <script th:inline="javascript">
        // defines
        const assetSearch = new duice.ObjectProxy({
            market: 'KR',
            dividendFrequency: null,
            key: 'name',
            value: null,
            _page: 0,
            _size: 10,
            _count: -1,
            _status: null
        });
        const assets = new duice.ArrayProxy([]);
        const simulate = new duice.ObjectProxy({
            assets: [],
            investAmount: 1000,
            dateFrom: null,
            dateTo: null
        });

        /**
         * gets assets
         * @param page page number
         */
        function getAssets(page) {
            if(page) {
                assetSearch._page = page;
            }
            let url = new URL(`${_apiUrl}/v1/assets`, document.location.origin);
            if (assetSearch.market != null) {
                url.searchParams.append('market', assetSearch.market);
            }
            if (assetSearch.dividendFrequency != null) {
                url.searchParams.append('dividendFrequency', assetSearch.dividendFrequency);
            }
            if (assetSearch.key && assetSearch.value) {
                url.searchParams.append(assetSearch.key, assetSearch.value);
            }
            url.searchParams.append('_page', assetSearch._page);
            url.searchParams.append('_size', assetSearch._size);
            assetSearch._status = 'loading';
            duice.ArrayProxy.clear(assets);
            _fetch(url)
                .then(response => {
                    assetSearch._count = _parseTotalCount(response);
                    return response.json()
                })
                .then(data => {
                    duice.ArrayProxy.assign(assets, data);
                })
                .finally(() => {
                    assetSearch._status = 'completed';
                });
        }

        /**
         * resets assets
         */
        function resetAssets() {
            duice.ObjectProxy.reset(assetSearch);
            getAssets();
        }

        function addBasketAsset(index) {
            let basketAsset = JSON.parse(JSON.stringify(assets[index]));
            basket.basketAssets.push(basketAsset);
        }

        // DOM content loaded listener
        document.addEventListener('DOMContentLoaded',()=> {
            getAssets();
        });
    </script>

    <!-- ====================================== -->
    <!-- start: title                           -->
    <!-- ====================================== -->
    <h1 id="title">
        <img class="icon" th:src="@{/static/image/icon-asset.svg}" alt="asset"/>
        <span data-th-text="#{fintics.etf.Asset}"></span>
    </h1>
    <!-- ====================================== -->
    <!-- end: title                             -->
    <!-- ====================================== -->

    <!-- ================================== -->
    <!-- start: assets                      -->
    <!-- ================================== -->
    <div class="display--flex flex-direction--column border--1 padding--1em">
        <!-- start asset -->
        <div>
            <h2>
                <img class="icon" th:src="@{/static/image/icon-asset.svg}" alt="asset"/>
                <span data-th-text="#{fintics.etf.Asset} + ' ' + #{web.global.search}"></span>
            </h2>
        </div>
        <div class="display--flex flex-direction--column gap--1em padding--1em s__padding-y--0">
            <form onsubmit="return false;" class="display--grid grid-template-columns--12 grid-gap--1em">
                <label class="grid-column--1 s__grid-column--12">
                    <select data-duice-bind="assetSearch" data-duice-property="market" class="width--100">
                        <option value="KR">국내</option>
                        <option value="US">미국</option>
                    </select>
                </label>
                <label class="grid-column--1 s__grid-column--6">
                    <select class="width--100" data-duice-bind="assetSearch" data-duice-property="dividendFrequency">
                        <option>- 배당주기 -</option>
                        <option value="MONTHLY">매월</option>
                        <option value="YEARLY">매년</option>
                    </select>
                </label>
                <label class="grid-column--1 s__grid-column--6">
                    <select class="width--100" data-duice-bind="assetSearch" data-duice-property="key">
                        <option value="name" th:text="#{fintics.etf.Asset.name}"></option>
                        <option value="assetId" th:text="#{fintics.etf.Asset.assetId}"></option>
                    </select>
                </label>
                <label class="grid-column--3 s__grid-column--6">
                    <input class="width--100" type="text" data-duice-bind="assetSearch" data-duice-property="value"/>
                </label>
                <div class="grid-column--6 s__grid-column--12 justify-self--end">
                    <button type="submit" onclick="getAssets();">
                        <img class="icon" th:src="@{/static/image/icon-search.svg}" alt="search"/>
                        <span data-th-text="#{web.global.search}"></span>
                    </button>
                    <button type="button" onclick="resetAssets();">
                        <img class="icon" th:src="@{/static/image/icon-reset.svg}" alt="reset"/>
                        <span data-th-text="#{web.global.reset}"></span>
                    </button>
                </div>
            </form>
            <div class="overflow-x--scroll">
                <table class="width--100">
                    <colgroup>
                        <col style="width:3em;"/>
                        <col style="width:7em;"/>
                        <col/>
                        <col style="width:5em;"/>
                        <col/>
                        <col/>
                        <col/>
                        <col/>
                        <col style="width:10em;"/>
                        <col style="width:10em;"/>
                    </colgroup>
                    <thead>
                    <tr>
                        <th></th>
                        <th data-th-text="#{fintics.etf.Asset.symbol}" class="text-align--center"></th>
                        <th data-th-text="#{fintics.etf.Asset.name}"></th>
                        <th data-th-text="#{fintics.etf.Asset.market}"></th>
                        <th data-th-text="#{fintics.etf.Asset.marketCap}" class="text-align--right"></th>
                        <th data-th-text="#{fintics.etf.Asset.close}" class="text-align--right"></th>
                        <th data-th-text="#{fintics.etf.Asset.volume}" class="text-align--right"></th>
                        <th data-th-text="#{fintics.etf.Asset.dividendYield}" class="text-align--right"></th>
                        <th data-th-text="#{fintics.etf.Asset.dividendFrequency}" class="text-align--center"></th>
                        <th data-th-text="#{fintics.etf.Asset.links}" class="text-align--center"></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr data-duice-bind="assets" data-duice-loop="asset,status">
                        <td class="text-align--center">
                            <button type="button" class="small"
                                    data-duice-bind="asset"
                                    data-duice-execute="this.dataset.index=status.index;"
                                    onclick="addBasketAsset(this.dataset.index);">
                                <img class="icon" th:src="@{/static/image/icon-add.svg}" alt="add"/>
                            </button>
                        </td>
                        <td class="text-align--center">
                            <span data-duice-bind="asset" data-duice-property="symbol" class="code font-weight--bold"></span>
                        </td>
                        <td>
                            <img class="icon icon--circle font-size--large" data-duice-bind="asset" data-duice-property="icon" th:onerror="|this.onerror=null; this.src='@{/static/image/icon-asset.svg}';|" alt=""/>
                            &nbsp;
                            <span data-duice-bind="asset" data-duice-property="name"></span>
                        </td>
                        <td>
                            <span data-duice-bind="asset" data-duice-property="market" class="badge code"></span>
                        </td>
                        <td class="text-align--right">
                            <span data-duice-bind="asset" data-duice-property="marketCap" data-duice-format="number" class="number"></span>
                        </td>
                        <td class="text-align--right">
                            <span data-duice-bind="asset" data-duice-property="close" data-duice-format="number" class="number"></span>
                        </td>
                        <td class="text-align--right">
                            <span data-duice-bind="asset" data-duice-property="volume" data-duice-format="number" class="number"></span>
                        </td>
                        <td class="text-align--right">
                            <span data-duice-bind="asset" data-duice-property="dividendYield" data-duice-format="number" class="number"></span>
                            <small class="code">%</small>
                        </td>
                        <td class="text-align--center">
                            <span data-duice-bind="asset" data-duice-property="dividendFrequency" class="badge code"></span>
                        </td>
                        <td class="text-align--center">
                            <select data-duice-bind="asset"
                                    data-duice-option="asset.links"
                                    data-duice-option-value-property="url"
                                    data-duice-option-text-property="name"
                                    onchange="_openLink(this.value, '_blank'); this.value = '';">
                                <option value>- Link -</option>
                            </select>
                        </td>
                    </tr>
                    <tr data-duice-bind="assetSearch"
                        data-duice-if="return assetSearch._status === 'loading';">
                        <td colspan="100%" class="text-align--center">
                            <img class="icon font-size--larger" th:src="@{/static/image/loading.svg}" alt="loading"/>
                        </td>
                    </tr>
                    <tr data-duice-bind="assetSearch"
                        data-duice-if="return assetSearch._status === 'completed' && assets.length < 1;" hidden>
                        <td colspan="100%" class="text-align--center">
                            <span data-th-text="#{web.global.itemNotFound(#{fintics.etf.Asset})}"></span>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="display--grid grid-template-columns--3">
                <div>
                </div>
                <div class="justify-self--center">
                    <duice-pagination
                            data-duice-bind="assetSearch"
                            data-duice-size-property="_size"
                            data-duice-page-property="_page"
                            data-duice-count-property="_count"
                            data-duice-onclick="getAssets(this.dataset.page);">
                    </duice-pagination>
                </div>
                <div class="text-align--right">
                    <span data-th-text="#{web.global.total}"></span>
                    <span data-duice-bind="assetSearch" data-duice-property="_count" data-duice-format="number(0)" class="number"></span>
                    <span data-th-text="#{web.global.rows}"></span>
                </div>
            </div>
        </div>
        <!-- end asset -->
        <!-- start simulate -->
        <div>
            <h2>
                <img class="icon" th:src="@{/static/image/icon-basket.svg}" alt="asset"/>
                <span data-th-text="#{fintics.etf.Basket}"></span>
            </h2>
        </div>
        <div class="display--flex flex-direction--column gap--1em padding--1em s__padding-y--0">
            <div class="overflow-x--scroll">
                <table class="width--100">
                    <colgroup>
                        <col style="width:3em;"/>
                        <col style="width:7em;"/>
                        <col/>
                        <col style="width:5em;"/>
                        <col/>
                        <col/>
                        <col/>
                        <col/>
                        <col style="width:10em;"/>
                        <col style="width:10em;"/>
                        <col style="width:10em;"/>
                    </colgroup>
                    <thead>
                    <tr>
                        <th></th>
                        <th data-th-text="#{fintics.etf.Asset.symbol}" class="text-align--center"></th>
                        <th data-th-text="#{fintics.etf.Asset.name}"></th>
                        <th data-th-text="#{fintics.etf.Asset.market}"></th>
                        <th data-th-text="#{fintics.etf.Asset.marketCap}" class="text-align--right"></th>
                        <th data-th-text="#{fintics.etf.Asset.close}" class="text-align--right"></th>
                        <th data-th-text="#{fintics.etf.Asset.volume}" class="text-align--right"></th>
                        <th data-th-text="#{fintics.etf.Asset.dividendYield}" class="text-align--right"></th>
                        <th data-th-text="#{fintics.etf.Asset.dividendFrequency}" class="text-align--center"></th>
                        <th data-th-text="#{fintics.etf.Asset.links}" class="text-align--center"></th>
                        <th data-th-text="#{fintics.etf.BasketAsset.holdingWeight}" class="text-align--right"></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr data-duice-bind="basket.basketAssets" data-duice-loop="basketAsset,status">
                        <td class="text-align--center">
                            <button type="button" class="small"
                                    data-duice-bind="basketAsset"
                                    data-duice-execute="this.dataset.index=status.index;"
                                    onclick="removeBasketAsset(this.dataset.index);">
                                <img class="icon" th:src="@{/static/image/icon-remove.svg}" alt="remove"/>
                            </button>
                        </td>
                        <td class="text-align--center">
                            <span data-duice-bind="basketAsset" data-duice-property="symbol" class="code font-weight--bold"></span>
                        </td>
                        <td>
                            <img class="icon icon--circle font-size--large" data-duice-bind="basketAsset" data-duice-property="icon" th:onerror="|this.onerror=null; this.src='@{/static/image/icon-basketAsset.svg}';|" alt=""/>
                            &nbsp;
                            <span data-duice-bind="basketAsset" data-duice-property="name"></span>
                        </td>
                        <td>
                            <span data-duice-bind="basketAsset" data-duice-property="market" class="badge"></span>
                        </td>
                        <td class="text-align--right">
                            <span data-duice-bind="basketAsset" data-duice-property="marketCap" data-duice-format="number" class="number"></span>
                        </td>
                        <td class="text-align--right">
                            <span data-duice-bind="basketAsset" data-duice-property="close" data-duice-format="number" class="number"></span>
                        </td>
                        <td class="text-align--right">
                            <span data-duice-bind="basketAsset" data-duice-property="volume" data-duice-format="number" class="number"></span>
                        </td>
                        <td class="text-align--right">
                            <span data-duice-bind="basketAsset" data-duice-property="dividendYield" data-duice-format="number" class="number"></span>
                        </td>
                        <td class="text-align--center">
                            <span data-duice-bind="basketAsset" data-duice-property="dividendFrequency" class="badge"></span>
                        </td>
                        <td class="text-align--center">
                            <select data-duice-bind="basketAsset"
                                    data-duice-option="basketAsset.links"
                                    data-duice-option-value-property="url"
                                    data-duice-option-text-property="name"
                                    onchange="_openLink(this.value, '_blank'); this.value = '';">
                                <option value>- Link -</option>
                            </select>
                        </td>
                        <td class="text-align--right">
                            <label>
                                <input type="number"
                                       data-duice-bind="basketAsset"
                                       data-duice-property="holdingWeight"
                                       class="number font-weight--bold"
                                       style="width:5em;"/>
                                <small class="code">%</small>
                            </label>
                        </td>
                    </tr>
                    <tr data-duice-bind="basket"
                        data-duice-if="return basket.basketAssets.length < 1;" hidden>
                        <td colspan="100%" class="text-align--center">
                            <span data-th-text="#{web.global.itemNotFound(#{fintics.etf.Asset})}"></span>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <!-- end basket -->
        <!-- start etc -->
        <form class="display--grid grid-template-columns--12 grid-gap--1em grid-column-gap--2em">
            <label class="grid-column--6">
                <span data-th-text="#{fintics.etf.Simulate.investAmount}" class="font-weight--bold tag-required"></span>
                <input type="text" data-duice-bind="simulate" data-duice-property="investAmount"
                       class="width--100 font-weight--bold"/>
            </label>
            <label class="grid-column--6">
                <span data-th-text="#{fintics.Trade.enabled}" class="font-weight--bold tag-required"></span>
                <br/>
                <input type="checkbox" data-duice-bind="trade" data-duice-property="enabled"/>
            </label>
        </form>
        <!-- end etc -->
    </div>
    <!-- ================================== -->
    <!-- end: assets                        -->
    <!-- ================================== -->

    <br/>

    <!-- ================================== -->
    <!-- start: basket                      -->
    <!-- ================================== -->
    <div class="display--flex flex-direction--column border--1 padding--1em">
        <div class="display--flex flex-direction--column gap--1em padding--1em s__padding-y--0">

        </div>
    </div>
    <!-- ================================== -->
    <!-- start: basket                      -->
    <!-- ================================== -->

</th:block>
